<%= turbo_frame_tag :all_slot do %>

  <%# all appointment slot %>
  <div class="mx-5">
    <% @slots.each do |slot| %>
      <a href="#" class="btn btn-outline-primary m-2" data-time="<%= slot.strftime("%H:%M") %>" data-action="click->appointment#select">
          <%= slot.strftime("%H:%M") %>
        </a>
    <% end %>


    
  </div>
<% end %>
