<div class="container-all">
  <div class="banner">
    <div class="container">
      <h1>Adopter avec amour,</h1>
      <h1>accompagner avec soin</h1>
    </div>
  </div>

  <%# <div class="d-flex justify-content-start custom-scroll", style="white-space: nowrap; overflow-x: auto;"> %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dsbteudoz/image/upload/v1733824916/judy-beth-morris-5Bi6MWlWMbw-unsplash_funbpk.jpg)">
      Breakfast
    </div>
  <%# </div> %>
</div>
