<div class="d-flex flex-row justify-content-between" style="height: 100%;">
  <%# sidebar all my service %>
  <div>
    <%= render "all_service" %>
  </div>
  <%# calendar %>
  <div class="text-center m-4" data-controller="appointment" style="width: 100%;">
    <h4> <strong> Bienvenue sur votre tableau de bord </strong></h4>

    <div>
      <%= render "calendar"%>
    </div>
    <%@selected_date = params[:date]%>
    <div>
      <%= render "all_slot", professional: @professional, selected_date: @selected_date%>
    </div>
    <div>
      <%= render "appointment_details", appointment: @appointment%>
    </div>
  </div>
</div>
