<div class="d-flex flex-row align-items-center">
  <i class="fa-solid fa-chevron-left text-primary m-4"></i>
  <%= link_to 'Retour', :back, class:"m-3 text-decoration-none text-dark", style:"font-size: 24px" %>
</div>
