<div class="banner-container">
  <div class="banner-content">
    <div class="hero-section">
      <div class="hero-content">
        <h1 class="hero-title">
          <span class="text-warning">ADOPTER</span> AVEC AMOUR
          <span class="text-warning">ACCOMPAGNER</span> AVEC SOIN<br>
        </h1>

        <p class="hero-subtitle">
          Trouvez les meilleurs professionnels du bien-être animal en un seul endroit. Boop vous connecte aux experts et vous aide aussi à adopter votre futur compagnon.
        </p>

        <div class="cta-buttons">
          <a href="<%=professionals_path%>" class="btn btn-primary">Prendre un rendez-vous</a>
          <a href="<%=pricings_path%>" class="btn btn-outline-primary text-black">Proposer un service</a>
        </div>
      </div>

      <div class="hero-image">
        <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//banner.webp"%>
      </div>
    </div>
  </div>
</div>
