<div class="banner-container">
  <div class="banner-content">
    <div class="hero-section">
      <div class="hero-content">
        <h1 class="hero-title">
          Plateforme <span class="text-primary">santé</span> & <span class="text-primary">rendez-vous</span> animaliers
        </h1>
        <p class="hero-subtitle">
          Trouvez et prenez rendez-vous en ligne instantanément avec les meilleurs professionnels animaliers.        </p>
        <div class="d-flex flex-row">
          <a href="<%=explore_path%>" class="cta-button-secondary" style="color: black !important, background-color: none !important, border-color: $primary !important" aria-label="Prendre un rendez-vous">Je suis Propriétaire</a>
          <a href="<%=pricings_path%>" class="cta-button" aria-label="Proposer un service">Je suis Pro</a>
        </div>
      </div>
      <div class="hero-image">
        <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//home.webp", alt: "Vétérinaire examinant un chien dans sa clinique"%>
      </div>
    </div>
  <div class="search-section" >
    <%= render 'shared/search'%>
  </div>
  </div>
</div>
