<div class="description-home">
  <div class="description-content">
    <div class="image-section">
      <div class="circle-background"></div>
      <div class="shine-effect">

      </div>
      <div class="shine-effect2">

      </div>
      <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//tamas-pap-Qdt8f7Tcle0-unsplash-removebg-preview.webp", class: "main-image", alt: "Woman hugging a brown dog" %>
    </div>

    <div class="text-section">

<%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//vecteezy_diving-dog-silhouette-isolated-on-a-white-background_50601513.webp", class: "main-image", alt: "Woman hugging a brown dog", style: "width: 30%"%>


      <h2 class="title">
        Des animaux épanouis,<br>
        des pros comblés
      </h2>

      <div class="description-text">
        <p>Un animal de compagnie en bonne santé, c’est un humain heureux ! Avec Boop, nous simplifions et améliorons la relation entre les propriétaires et les professionnels du bien-être animal. Réservez facilement des soins, trouvez les meilleurs experts et offrez à votre compagnon l’attention qu’il mérite. Vous êtes un professionnel du secteur ? Rejoignez-nous et développez votre activité dès aujourd’hui !</p>
      </div>

      <%= link_to "Devenir un professionnel sur Boop", pricings_path, class: "btn btn-outline-primary rounded-pill text-black" %>


    </div>
  </div>
</div>
