<div class="banner-blogs">
  <div class="banner-content">
    <div class="banner-text">
      <h2>BLOG<br><span>NOS ANIMAUX DE COMPAGNIE</span></h2>
    </div>
    <div class="banner-image">
      <%= image_tag "https://hgzbeyxwlmegxvrhxpws.supabase.co/storage/v1/object/public/general_images//blog_banner_new.webp", alt: "blogs pour les animaux" %>
    </div>
  </div>
</div>
