.btn_custom {
  background-color: $pink;
  color: black;
  border-radius: 16px;
  padding: 10px 20px;
  border: none;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    background-color: $pink;
  }
}

.btn_pricing_custom {
  background-color: $primary;
  color: black;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  transition: transform 0.2s;

  &:hover {
    color: black;
    transform: scale(1.05);
    background-color: $primary;
  }
}
