.card_pro{
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  margin: 8px;
  padding: 8px;
}

.grid-professional-show{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
