.card_pro {
  border: 1px solid rgb(213, 204, 204);
  border-radius: 8px;
  background-color: white;
  margin: 8px;
  padding: 8px;
  box-shadow: 4px 4px 2px rgb(219, 216, 216);
}

.grid-professional-show {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.card_pro_index {
  width: 90%;

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}
