.card_pro {
  border: 1px solid rgb(213, 204, 204);
  border-radius: 8px;
  background-color: white;
  margin: 8px;
  padding: 8px;
  box-shadow: 4px 4px 2px rgb(219, 216, 216);

  // @media (max-width: 480px) {
  //   font-size: 0.8rem;
  //   width: 80%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }
}

.grid-professional-show {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.card_pro_index {
  width: 100%;

  @media (max-width: 768px) {
    width: 90%;
    font-size: 0.8rem;

    h2, h4{
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}
