.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  top: 00px;
  z-index: 200;
  position: sticky;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-lewagon .nav-link {
  color: black;
}

.navbar-lewagon .nav-link:hover {
  color: #EFA690 !important;
}
