<%= turbo_frame_tag :all_slot do %>
  <div>
    <% start_hour = 8 # Heure de début
        end_hour = 17  # Heure de fin
        interval = 60  # Durée entre les créneaux en minutes
      %>
    <% current_time = Time.parse("#{selected_date} #{start_hour}:00") %>
    <% end_time = Time.parse("#{selected_date} #{end_hour}:00") %>
    <div data-appointment-target="times">
      <% while current_time <= end_time do %>
        <% has_appointment = @appointments.any? { |appointment| appointment.start_time.strftime("%Y-%m-%d %H:%M") == current_time.strftime("%Y-%m-%d %H:%M") } %>
        <%appointment = Appointment.find_by(start_time: current_time.strftime("%Y-%m-%d %H:%M"))%>
        <% if (has_appointment==false) %>
          <%= link_to current_time.strftime("%H:%M"), professionals_path,
              class:"btn btn-outline-primary m-2 ",
              data: {time: current_time.strftime("%H:%M"),
                    action:"click->appointment#select"}%>
        <% else %>
          <%= link_to current_time.strftime("%H:%M"), pro_show_professional_path(professional.id, appointment.id),
              class:"btn btn-outline-primary m-2 #{'btn-info text-dark' if has_appointment} ",
              data: {time: current_time.strftime("%H:%M"),
                    action:"click->appointment#select",
                    turbo_frame: :appointment_details,}%>
        <% end %>
        <% current_time += interval.minutes %>
      <% end %>
    </div>
  </div>
<% end %>
