<div>
  <%= link_to 'Retour', :back %>
</div>

 <div class="container">
<p>Votre rendez-vous est confirmé</p>

<button>Déplacer rendez-vous</button>
<button>Annuler rendez-vous</button>
<!-- Compare this snippet from app/views/patients/home.html.erb: -->
</div>
